
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0;-webkit-text-size-adjust:none;font-size:15px;color:#000;}
a{color:#000;}
#header{position:relative;top:0;left:0;width:100%;color:#fff;background:#7052ce;z-index:999}
#header h1{padding:20px 0 16px;text-align:center;font-size:20px;color:#fff;font-weight: bold}
#header .info{position:absolute;left:5px;top:0;line-height:1.4}
#header .left{position:absolute;left:-2px;top:52px;z-index:1}
#header .left li{float:left;}
#header .left li a,#header .left li a span{font-size:11px;background:#4c7ed6}
#header .left li a{display:inline-block;padding:3px 20px;color:#fff;}
#header .left li.on a,#header .left li.on a span{color:#000;font-weight:bold;background:#fff}
#header .right{position:absolute;top:12px;right:0}
#header .right{vertical-align:middle}
#header .right a{display:inline-block;width:25px;height:25px;line-height:25px;text-align:center;text-decoration:none;color:#fff;background:#555;border:1px solid #2a2a2a}
#header .right a:hover{background:#fff;color:#000}
#header table thead th{text-align:left}
#header table .notice th{text-align:center;color:red;background:#fbfbfb}
#header table tr.notice:hover td{}
#header .notice{overflow:hidden;position:relative;height:65px;color:#000;background:#fff}
#header .notice a{display:inline-block}
#header .notice .icon{position:absolute;right:5px;top:5px;background:#fff}
#header .notice .btn{position:absolute;right:180px;top:5px;background:#fff}
#header .notice .btn a{display:inline-block;padding:1px 4px;color:#000;font-size:11px;border:1px solid #000;text-decoration:none}
#contents{padding-top:135px;font-size:11px;}
.tab-A{border-bottom:1px solid #eee}
table{width:100%;table-layout:fixed;border-collapse:collapse}
table tbody td,table tbody th{text-align:left;padding:2px 8px;font-size:15px;border:1px solid #999;background-color:#fbfbfb}
table thead th{padding:4px 10px;font-weight:normal;color:#000;background:#fff;border:1px solid #999}
table tbody th{font-weight:normal;color:#000;}
table tr:hover th,table tr:hover td{color:#000;background-color:#eee}
table a{text-decoration:none;}
table a:hover{text-decoration:underline;}
.i:before,.n:before,.m:before,.d:before,.c:before{content:"→";background:#525252;color:#fff;padding:2px 4px;text-align:center;display:inline-block;font-size:11px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.i:before{content:"진행중";background:#5b9ad5}
.c:before{content:"완료";background:#eb0d75}
.d:before{content:"수정";background:#615586;opacity:1;filter:alpha(opacity=100)}
.n:before{content:"컨펌전";background:#eeb147}
.m:before{content:"보류";color:#999;background:#efefef}

/*.d {text-decoration:line-through;}*/
.i,.c,.d,.n,.m{margin-right:5px;}
.ing{display:inline-block;margin-right:10px;padding:0 3px;color:#fff;background:#5b9ad5;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.fc_d{color:#7566a4;}
.date{display:block;color:#222;}
.top-btn{position:fixed;bottom:0;right:0;z-index:999}
.top-btn a{display:block;width:30px;height:24px;padding-top:6px;text-align:center;color:#fff;font-size:10px;background:#000}
table,th,td{padding:0;margin:0;border:0;border-spacing:0;border-collapse:collapse;font-size:14px}
table.type1 thead th{height:20px;background:#fff}
ul,li,ol{list-style:none}
