<!DOCTYPE html>
<html lang="ko">
<head>
<title>APmall</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="subject" content="">
<meta name="Keywords" content="">
<meta name="description" content="">
<meta name="build" content="">
<meta name="language" content="ko">
<meta name="author" content="">
<meta name="copyright" content="2017 (주)아모레퍼시픽">
<meta name="reply-to" content="amorepacific@amorepacific.co.kr">
<link rel="stylesheet" href="../../css/jquery-ui.css">
<link rel="stylesheet" href="../../css/common.css" media="screen">
<link rel="stylesheet" href="../../css/content.css" media="screen">
<link rel="stylesheet" href="../../css/popup.css" media="screen">
<link rel="stylesheet" href="../../css/slick.css" media="screen">
<link rel="stylesheet" href="../../css/renew2017.css" media="screen"><!-- 리뉴얼 css -->
<link rel="stylesheet" href="../../css/renew2017_pop.css" media="screen"><!-- 리뉴얼 css -->
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
	<!-- WRAP -->
	<div id="wrap">
		<!-- HEADER -->
		<header>
			<div class="header_box">
				<div class="lft_area">
					<h1 class="logo"><a href="/"><img src="../../images/renew/common/logo_apmall.png" alt="Apmall"></a></h1>
					<!--<button type="button" class="btn_back"><i class="i-global back">뒤로</i></button>-->
					<button type="button" class="btn_side" id="btnSideNav"><i class="i-global list">메뉴</i></button>
				</div>

				<button type="button" class="btn_srch" id="btnSrch"><i class="i-global srch">검색</i></button>
				<a href="#none" class="btn_cart"><i class="i-global cart">장바구니</i> <span class="item">10</span></a>
			</div>
		</header><!-- //HEADER -->
		
		<!-- CONTAINER -->
		<!-- [D] 운영 기존 흰 배경 유지 / 리뉴얼만 배경색 지정 (예외가 필요한 부분은 순차적으로 개발 변경될 가능성 있음)
			<div id="container" class="ctr_renew"> -->
		<div id="container" class="ctr_renew">
			<!-- GNB : NAV -->
			<!-- [D] 디자인 최종 확정 아님 (간격/정렬) -->
			<nav class="gnb_navwrap">
				<h2 class="hide">메인메뉴</h2>
				<div class="gnb_nav">
					<div class="scrlarea" id="gnbNavScroll">
						<!-- [D] 카테고리가 최소 5개일 경우
							기본 (예 : 브랜드관) : <ul class="nav">
							최소 카테고리 (5개) : <ul class="nav minimum"> -->
						<ul class="nav">
							<li><a href="#none">홈</a></li>
							<li class="update"><a href="#none">애프터바캉스</a></li>
							<li><a href="#none">라이프</a></li>
							<li><a href="#none">혜택+</a></li>
							<li><a href="#none">랭킹</a></li>
							<li class="on"><a href="#none">브랜드</a></li>
						</ul>

						<!-- [D] 카테고리가 최소 5개일 경우
							기본 (예 : 브랜드관) : <ul class="nav">
							최소 카테고리 (5개) : <ul class="nav minimum">
						<ul class="nav">
							<li><a href="#none">홈</a></li>
							<li><a href="#none">라이프</a></li>
							<li><a href="#none">혜택+</a></li>
							<li><a href="#none">랭킹</a></li>
							<li class="on"><a href="#none">브랜드</a></li>
						</ul> -->
					</div>
				</div>
			</nav><!-- //GNB : NAV -->

			<!-- GROUP : HEADER -->
			<div class="gnb_grphd">
				<!-- [D] 서브카테고리가 있을 경우 타이틀 형태 (2depth) -->
				<h2 class="h"><a href="#none"><span>서브카테고리가 있을 경우 (기본-리스트형)</span></a></h2>

				<ul class="nav_mcate">
					<!-- 퍼블리싱 초기 구성 코드 -->
					<!--<li><a href="#none">구매금액 사은품</a></li>
					<li><a href="#none">뷰티테스터</a></li>
					<li><a href="#none">스페셜기프트</a></li>
					<li><a href="#none">출석체크</a></li>
					<li><a href="#none">쿠션존</a></li>-->

					<!-- 실제 개발 코드 사용 -->
					<li><input type="radio" id="grphd1" style="display:none;"><label for="grphd1">구매금액 사은품</label></li>
					<li><input type="radio" id="grphd2" style="display:none;"><label for="grphd2">뷰티테스터</label></li>
					<li><input type="radio" id="grphd3" style="display:none;"><label for="grphd3">스페셜기프트</label></li>
					<li><input type="radio" id="grphd4" style="display:none;"><label for="grphd4">출석체크</label></li>
					<li><input type="radio" id="grphd5" style="display:none;"><label for="grphd5">쿠션존</label></li>
				</ul>

				<!-- [D] 서브카테고리가 없을 경우 타이틀 형태
				<h2 class="h">스킨케어</h2> -->
			</div><!-- //GROUP : HEADER -->

			<!-- GROUP : HEADER -->
			<div class="gnb_grphd">
				<!-- [D] 서브카테고리가 없을 경우 타이틀 형태 -->
				<h2 class="h">서브카테고리가 없을 경우 타이틀 형태</h2>
			</div><!-- //GROUP : HEADER -->

			<!-- GROUP : HEADER -->
			<div class="gnb_grphd">
				<!-- [D] 서브카테고리가 없을 경우 타이틀 형태 -->
				<h2 class="h">서브 카테고리에 As-is 버튼이 있는 경우</h2>

				<a href="#" class="btn_r btn_apply btn_write" style="z-index: 10;"><span class="hide">글작성</span></a>
			</div><!-- //GROUP : HEADER -->

			<!-- GROUP : HEADER -->
			<div class="gnb_grphd">
				<div class="grphd_v1">
					<h2 class="h">이벤트명</h2>
					<button type="button" class="btn_all">전체 이벤트<i class="i-global arr"></i></button>
				</div>
			</div><!-- //GROUP : HEADER -->

			<!-- GROUP : HEADER -->
			<div class="gnb_grphd">
				<!-- [D] 3depth (2depth로 이동) -->
				<h2 class="h"><a href="#none"><span>스킨케어</span></a></h2>

				<ul class="nav_mcate coltype">
					<li>
						<a href="#none">
							<!-- [D] 이미지 사이즈 : 사용자 너비 * 110 (높이값 꼭 지켜주세요) -->
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg001.png" alt=""></i>
							<p>스킨케어</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg002.png" alt=""></i>
							<p>메이크업</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg003.png" alt=""></i>
							<p>네일&amp;향수</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg004.png" alt=""></i>
							<p>바디&amp;헤어</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg005.png" alt=""></i>
							<p>소품&amp;도구</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg006.png" alt=""></i>
							<p>뷰티푸드</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg007.png" alt=""></i>
							<p>옴므</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg110.png" alt=""></i>
							<p>베이비</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg103.png" alt=""></i>
							<p>스페셜</p>
						</a>
					</li>
				</ul>
			</div><!-- //GROUP : HEADER -->

			<!-- GROUP : HEADER -->
			<div class="gnb_grphd">
				<h2 class="h"><a href="#none"><span>클렌징</span></a></h2>

				<ul class="nav_mcate coltype">
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg008.png" alt=""></i>
							<p>클렌징</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg012.png" alt=""></i>
							<p>모이스처라이징</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg019.png" alt=""></i>
							<p>스페셜 케어</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg023.png" alt=""></i>
							<p>선케어</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg024.png" alt=""></i>
							<p>세트</p>
						</a>
					</li>
				</ul>
			</div><!-- //GROUP : HEADER -->

			<!-- GROUP : HEADER -->
			<div class="gnb_grphd">
				<h2 class="h"><a href="#none"><span>페이스</span></a></h2>

				<ul class="nav_mcate coltype">
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg025.png" alt=""></i>
							<p>페이스</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg033.png" alt=""></i>
							<p>립</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg038.png" alt=""></i>
							<p>아이</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg045.png" alt=""></i>
							<p>치크</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg049.png" alt=""></i>
							<p>키트&amp;팔레트</p>
						</a>
					</li>
				</ul>
			</div><!-- //GROUP : HEADER -->

			<!-- GROUP : HEADER -->
			<div class="gnb_grphd">
				<h2 class="h"><a href="#none"><span>네일</span></a></h2>

				<ul class="nav_mcate coltype">
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg050.png" alt=""></i>
							<p>네일</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg057.png" alt=""></i>
							<p>향수</p>
						</a>
					</li>
				</ul>
			</div><!-- //GROUP : HEADER -->

			<!-- GROUP : HEADER -->
			<div class="gnb_grphd">
				<h2 class="h"><a href="#none"><span>바디</span></a></h2>

				<ul class="nav_mcate coltype">
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg061.png" alt=""></i>
							<p>바디</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg069.png" alt=""></i>
							<p>헤어</p>
						</a>
					</li>
				</ul>
			</div><!-- //GROUP : HEADER -->

			<!-- GROUP : HEADER -->
			<div class="gnb_grphd">
				<h2 class="h"><a href="#none"><span>스킨&amp;메이크업소품</span></a></h2>

				<ul class="nav_mcate coltype">
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg076.png" alt=""></i>
							<p>스킨&amp;메이크업소품</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg077.png" alt=""></i>
							<p>바디&amp;헤어소품</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg078.png" alt=""></i>
							<p>미용기기</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg079.png" alt=""></i>
							<p>구강&amp;위생용품</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg080.png" alt=""></i>
							<p>캔들&amp;디퓨져</p>
						</a>
					</li>
				</ul>
			</div><!-- //GROUP : HEADER -->

			<!-- GROUP : HEADER -->
			<div class="gnb_grphd">
				<h2 class="h"><a href="#none"><span>뷰티푸드</span></a></h2>

				<ul class="nav_mcate coltype">
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg081.png" alt=""></i>
							<p>뷰티푸드</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg087.png" alt=""></i>
							<p>차(TEA)</p>
						</a>
					</li>
				</ul>
			</div><!-- //GROUP : HEADER -->

			<!-- GROUP : HEADER -->
			<div class="gnb_grphd">
				<h2 class="h"><a href="#none"><span>클렌져</span></a></h2>

				<ul class="nav_mcate coltype">
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg093.png" alt=""></i>
							<p>클렌져</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg094.png" alt=""></i>
							<p>스킨&amp;로션</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg095.png" alt=""></i>
							<p>에센스&amp;크림</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg096.png" alt=""></i>
							<p>팩&amp;마스크</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg097.png" alt=""></i>
							<p>썬&amp;BB크림</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg098.png" alt=""></i>
							<p>쉐이빙</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg099.png" alt=""></i>
							<p>바디케어</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg100.png" alt=""></i>
							<p>헤어케어</p>
						</a>
					</li>
					<li>
						<a href="#none">
							<i class="icon"><img src="../../images/renew/ctg/ico_ctg101.png" alt=""></i>
							<p>메이크업</p>
						</a>
					</li>
				</ul>
			</div><!-- //GROUP : HEADER -->

			<!-- CONTENT -->
			<div id="content">
				<h2 class="h_sec">2Depth</h2>
				<!-- SECTION : SUB CATEGORY -->
				<div class="nav_scate">
					<ul>
						<li class="on"><a href="#none">클렌징(144)</a></li>
						<li><a href="#none">모이스처라이징(720)</a></li>
						<li><a href="#none">스페셜케어(172)</a></li>
						<li><a href="#none">선케어(88)</a></li>
						<li><a href="#none">세트(42)</a></li>
					</ul>
				</div><!-- //SECTION : SUB CATEGORY -->
				
				<h2 class="h_sec">3Depth (ap 최하위 메뉴)</h2>
				<!-- SECTION : SUB CATEGORY (3depth일 경우) -->
				<div class="nav_scate center">
					<ul>
						<li class="on"><a href="#none">전체(147)</a></li>
						<li><a href="#none">메이크업리무버(32)</a></li>
						<li><a href="#none">페이스워시(172)</a></li>
					</ul>
				</div><!-- //SECTION : SUB CATEGORY -->

				<h2 class="h_sec">카테고리 스크롤</h2>
				<!-- NAV : 카테고리 스크롤 -->
				<!-- [D] 디자인 변경 가능성 있음 (아이콘 교체/간격) -->
				<div class="nav_catescrl">
					<div class="scrlable_x">
						<ul>
							<li class="brand on">
								<a href="#none">
									<i class="icon"><img src="../../images/renew/brdcd/ico_afk.png" alt=""></i>
									<p>전체보기</p>
								</a>
							</li>
							<li>
								<a href="#none">
									<i class="icon"><img src="../../images/renew/ctg/ico_ctg001.png" alt=""></i>
									<p>스킨케어</p>
								</a>
							</li>
							<li>
								<a href="#none">
									<i class="icon"><img src="../../images/renew/ctg/ico_ctg002.png" alt=""></i>
									<p>메이크업</p>
								</a>
							</li>
							<li>
								<a href="#none">
									<i class="icon"><img src="../../images/renew/ctg/ico_ctg003.png" alt=""></i>
									<p>네일&amp;향수</p>
								</a>
							</li>
							<li>
								<a href="#none">
									<i class="icon"><img src="../../images/renew/ctg/ico_ctg004.png" alt=""></i>
									<p>바디&amp;헤어</p>
								</a>
							</li>
							<li>
								<a href="#none">
									<i class="icon"><img src="../../images/renew/ctg/ico_ctg005.png" alt=""></i>
									<p>소품&amp;도구</p>
								</a>
							</li>
							<li>
								<a href="#none">
									<i class="icon"><img src="../../images/renew/ctg/ico_ctg006.png" alt=""></i>
									<p>뷰티푸드</p>
								</a>
							</li>
							<li>
								<a href="#none">
									<i class="icon"><img src="../../images/renew/ctg/ico_ctg007.png" alt=""></i>
									<p>옴므</p>
								</a>
							</li>
							<li>
								<a href="#none">
									<i class="icon"><img src="../../images/renew/ctg/ico_ctg110.png" alt=""></i>
									<p>베이비</p>
								</a>
							</li>
							<li>
								<a href="#none">
									<i class="icon"><img src="../../images/renew/ctg/ico_ctg103.png" alt=""></i>
									<p>스페셜</p>
								</a>
							</li>
						</ul>
					</div>
				</div><!-- //NAV : 카테고리 스크롤 -->
			</div><!-- //CONTENT -->
		</div><!-- //CONTAINER -->

		<!-- FOOTER -->
		<footer>
			<ul class="links top">
				<li><a href="#none">로그인</a></li>
				<li><a href="#none">고객센터</a></li>
			</ul>

			<div class="info_wrap">
				<button type="button" class="btn_info">(주)아모레퍼시픽 사업자 정보</button>

				<div class="view">
					<p>
						(주)아모레퍼시픽 대표이사 : 심상배<br>
						전자메일주소 : <a href="mailto:apmall_support@amorepacificmall.com">apmall_support@amorepacificmall.com</a><br>
						서울시 중구 청계천로 100 시그니쳐타워 서관 5~13층
					</p>
					<p>
						호스팅제공자 : (주)아모레퍼시픽 / 사업자등록번호 : 107-86-43373<br>
						통신판매업신고번호 : 서울중구-0408호(서울 중구청),<br>
						건강기능식품판매업 영업신고증 제8호
					</p>

					<p>
						배송, 사이트 관련 문의 고객센터 <strong><a href="tel:080-030-5454" class="needsclick">080-030-5454</a></strong> (수신자요금부담)<br>
						평일 09:00~17:00 / 점심 12:00~13:00 (토,일,공휴일 휴무)
					</p>
					<p>
						제품, 트러블 관련 문의 고객센터 <strong><a href="tel:080-023-5454" class="needsclick">080-023-5454</a></strong> (수신자요금부담)<br>
						월~목 09:00~21:00 / 금 09:00~17:30 (토,일,공휴일 휴무)
					</p>

					<div class="btns">
						<a href="#none" class="btn_cs">실시간 고객상담</a>
					</div>
				</div>
			</div>

			<p>고객님의 안전거래를 위해 현금 거래에 대해<br>LG U+의 구매안전 서비스를 이용하실 수 있습니다.</p>

			<div class="btns_area">
				<a href="#none" class="btn_lg">LG U+ 구매안전 서비스 가입확인</a>
			</div>

			<ul class="links">
				<li><a href="#">이용약관</a></li>
				<li><a href="#"><strong>개인정보처리방침</strong></a></li>
				<li><a href="#">사업자정보확인</a></li>
			</ul>

			<p class="copyright">&copy; AMOREPACIFIC CORPORATION. ALL RIGHTS RESERVED</p>
		</footer><!-- //FOOTER -->
		
		<!-- 퀵버튼 -->
		<div class="quick">
			<a href="#wrap" class="btn_top"><img src="../../images/renew/common/btn_top.png" alt="최상단으로 이동"></a>
			<button type="button" class="btn_recent" onclick="modalPopup('#modalrecentLst');return false;"><img src="../../images/renew/temp/temp_prd_01.jpg" alt="상품명"></button>
		</div><!-- //퀵버튼 -->
	</div><!-- //WRAP -->
</div><!-- //WRAPPER -->

<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/jquery-ui.js"></script>
<script type="text/javascript" src="../../js/swipe.js"></script>
<script type="text/javascript" src="../../js/iscroll.js"></script>
<script type="text/javascript" src="../../js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../js/ui.js"></script>
<script type="text/javascript" src="../../js/select.js"></script>
<script type="text/javascript" src="../../js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="../../js/slick.min.js"></script>
<script type="text/javascript" src="../../js/jquery.lazyload.min.js?v=1.9.1"></script>
<script type="text/javascript" src="../../js/jquery.scrollstop.min.js"></script>
<script type="text/javascript" src="../../js/renew2017.js"></script><!-- 리뉴얼 js -->
</body>
</html>