@charset "utf-8";

.attendanceChk .blind{overflow:hidden;position:absolute;top:-9999em;left:-9999em;width:0;height:0;padding:0;margin:0;font-size:0;line-height:0;text-indent:-9999em;visibility:hidden;outline:none;z-index:-1;}
.attendanceChk .chkArea.chkArea2{padding:0;background:#f7f7f7;}
.attendanceChk .chkArea.chkArea2 .check_area{position:relative;}
.attendanceChk .chkArea.chkArea2 a.btn_check{position:absolute;top:0;left:20%;right:20%;width:60%}
.attendanceChk .chkArea.chkArea2 p.btn_chcek.off a{background:url(../images/content/btn_check_off.gif) no-repeat;}
.attendanceChk .calendarArea.calendarArea2 .calendar .head{padding-top:18px;border-top:0 none;background:#ef8ea2;font-weight:bold;}
.attendanceChk .calendarArea.calendarArea2 .calendar .head em{font-size:2.333em;}
.attendanceChk .calendarArea.calendarArea2 .calendar .head span.month{margin-top:5px;margin-left:2px;}
.attendanceChk .calendarArea.calendarArea2 .calendar .head span.eng{
    height:17px;padding:0 16px;margin:4px 6px 0 7px;line-height:15px;font-size:1.167em;color:#ef8ea2;}
.attendanceChk .calendarArea2 .chkGraph{padding:12px 0px 19px 0px;border-top:0 none;background:#f1f3f9;}
.attendanceChk .calendarArea2 .chkGraph p.tl{padding-left:0;margin-left:-5px;margin-bottom:2px;font-size:0.500em;color:#696969;font-weight:bold;letter-spacing:-1.2px;}
.attendanceChk .calendarArea2 .chkGraph .graph{position:relative;padding-right:80px;padding-left:20px;}
.attendanceChk .calendarArea2 .chkGraph .graph .bar{height:12px;margin-top:10px;border-radius:6px;}
.attendanceChk .calendarArea2 .chkGraph .graph .bar .current{position:absolute;top:-1px;
    left:0;width:50%;height:13px;border-radius:6px;background:#ef8ea2;}
.attendanceChk .calendarArea2 .chkGraph .graph .percent{position:absolute;right:15px;top:-16px;font-size:1.083em;color:#eb728b;}
.attendanceChk .calendarArea.calendarArea2 .calendar .table tbody td{height:68px;}
.attendanceChk .calendarArea.calendarArea2 .calendar .table tbody td.chk{background:#f7f7f7;}
.attendanceChk .calendarArea.calendarArea2 .calendar .table tbody td.chk .day{background:#5c92da;color:#fff;}
.attendanceChk .calendarArea.calendarArea2 .calendar .table tbody td .day_sun{display:block;width:16px;height:16px;line-height:16px;text-align:center;font-family:'Helvetica';font-size:0.917em;color:#ec6386;border-radius:8px;background:#fff;}
.attendanceChk .calendarArea.calendarArea2 .calendar .table tbody td .day_sat{display:block;width:16px;height:16px;line-height:16px;text-align:center;font-family:'Helvetica';font-size:0.917em;color:#5c92da;border-radius:8px;background:#fff;}
.attendanceChk .calendarArea.calendarArea2 .calendar .table tbody td .card_brand{display:inline-block;text-align:center;margin-top:8px;}
.attendanceChk .calendarArea.calendarArea2 .cycle-next, .calendarArea .cycle-prev{background:url(../images/event/attend/m_sp_arrow_attend.png) no-repeat 0 0;}
.attendanceChk .calendarArea.calendarArea2 .cycle-prev{background-position:0 -630px;}
.attendanceChk .calendarArea.calendarArea2 .cycle-next{background-position:-45px -630px;}
.attendanceChk .calendarArea.calendarArea2 .calendar .table thead th{height:38px;font-size:0.917em;border-bottom:1px solid #e1e2e6;color:#666;background:#f7f7f7;}
.attendanceChk .calendarArea.calendarArea2 .calendar .table thead th:first-child{color:#ec6386;}
.attendanceChk .calendarArea.calendarArea2 .calendar .table thead th:last-child{color:#5395ed;}

.attendanceChk .brandCardChoice.brandCardChoice2 .choiceArea .resultArea{padding-bottom:0px;}
.attendanceChk .brandCardChoice.brandCardChoice2 .choiceArea .resultArea .resultCard{margin-top:17px;text-align:center;font-size:1.063em;color:#555;}
.attendanceChk .brandCardChoice.brandCardChoice2 .choiceArea .resultArea .resultCard em{font-weight:bold;color:#5c92da;}
.attendanceChk .brandCardChoice.brandCardChoice2 .choiceArea .resultArea .cumulative{height:30px;line-height:30px;margin-top:10px;text-align:center;font-size:0.688em;color:#666;}
.attendanceChk .brandCardChoice.brandCardChoice2 .choiceArea .resultArea .cumulative span{display:inline-block;padding-left:25px;background:url(../images/content/bg_cumulativeL2.png) no-repeat;background-size:auto 30px;}
.attendanceChk .brandCardChoice.brandCardChoice2 .choiceArea .resultArea .cumulative em {display:inline-block;padding:0 25px 0 10px;font-weight:bold;color:#5c92da;background:url(../images/content/bg_cumulativeR2.png) no-repeat right top;background-size:auto 30px;}
.attendanceChk .brandCardChoice.brandCardChoice2{background:#Fff;}
.attendanceChk .brandCardChoice.brandCardChoice2 .guide{border-top:0 none;height:175px;padding-top:19px;text-align:center;background:url(../images/content/bg_attend3.png) no-repeat center 55px;-webkit-background-size: 290px auto;-moz-background-size: 290px auto;-o-background-size: 290px auto;background-size: 290px auto;}
.attendanceChk .brandCardChoice.brandCardChoice2 .guide p{font-size:1.250em;font-weight:bold;color:#798691;}
.attendanceChk .brandCardChoice.brandCardChoice2 .choiceArea{border-top:1px solid #e1e2e6;padding:20px 0 25px;}

.m_attend_benefit,.m_goArea{position:relative;}
.m_attend_benefit img,.m_goArea img{vertical-align:top;}
.m_attend_benefit .linkWrap a,.m_goArea .linkWrap a {position:absolute;}
.m_attend_benefit .linkWrap a span.hide,.m_goArea .linkWrap a span.hide{display:none;}
.m_attend_benefit .linkWrap a.link1{width:22.5%;height:60%;top:30%;left:3%;}
.m_attend_benefit .linkWrap a.link2{width:22%;height:60%;top:30%;left:27%;}
.m_attend_benefit .linkWrap a.link3{width:23.7%;height:60%;top:30%;left:50%;}
.m_attend_benefit .linkWrap a.link4{width:22%;height:60%;top:30%;right:3.5%;}
.m_goArea .linkWrap a.link1{width:33%;height:100%;top:0;left:0%;}
.m_goArea .linkWrap a.link2{width:33%;height:100%;top:0;left:33%;}
.m_goArea .linkWrap a.link3{width:34%;height:100%;top:0;right:0;}

/**/
.brandCardChoice.brandCardChoice2 .brandList li a span > img{
	position:absolute;left:0;top:0;z-index:-1;
	-webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transition: 1.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1.5s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1.5s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1.5s;
    -ms-transform-style: preserve-3d;
    transition:1.5s;
    transform-style:preserve-3d}
.brandCardChoice.brandCardChoice2 .brandList li.act a span > img{ -webkit-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
    transform: rotateY(0);
    transform: rotateY(0)}
.brandCardChoice.brandCardChoice2 .brandList li.act a span > img{ -webkit-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg)}

.brandCardChoice.brandCardChoice2 .brandList li.act a > img{
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transition: 1.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1.5s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1.5s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1.5s;
    -ms-transform-style: preserve-3d;
    transition:1.5s;
    transform-style:preserve-3d}
.brandCardChoice.brandCardChoice2 .brandList li.act a > img{ -webkit-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transform: rotateY(0deg)}
.brandCardChoice.brandCardChoice2 .brandList li.act a > img{ -webkit-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg)}
/**/

.attendanceChk .rule.rule2{padding:20px 15px;background:#f7f7f7;}
.attendanceChk .rule.rule2 p.ttl{padding-bottom:3px;font-size:1.083em;font-weight:bold;color:#555;}
.attendanceChk .rule.rule2 ul li{padding:10px 9px;font-size:0.917em;color:#888;border-bottom:1px dotted #dedede;background:url(http://www.amorepacificmall.com/mobile/images/common/bu_circle4.png) no-repeat 0 17px;-webkit-background-size:3px auto;-moz-background-size:3px auto;-o-background-size:3px auto;background-size:3px auto;}
.attendanceChk .rule.rule2 ul li:last-child{border-bottom:0;}


/* 모바일 출석체크 팝업 */
.popupAttendance.modal-content-attendCheck .desc2{padding:0 10px 0;text-align:center;line-height:17px;color:#666;}
.popupAttendance.modal-content-attendCheck .img_day{width:95%;max-width:265px;height:127px;margin:15px auto 20px;position:relative;border:1px solid #ececec;}
.popupAttendance.modal-content-attendCheck .img_day div{width:120px;height:85px;float:left;overflow:hidden;margin:20px 0 0 12px;}
.popupAttendance.modal-content-attendCheck .img_day img{height:85px;}
.popupAttendance.modal-content-attendCheck .img_day ul{padding-left:140px;margin-top:14px;}
.popupAttendance.modal-content-attendCheck .img_day ul li{font-size:0.813em;color:#000;line-height:14px;letter-spacing:-0.5px;text-align:left;}
.popupAttendance.modal-content-attendCheck .img_day ul li.day_tit{font-size:0.813em;color:#222;}
.popupAttendance.modal-content-attendCheck .img_day ul li em{color:#000;font-weight:normal;}
.popupAttendance.modal-content-attendCheck .img_coupon{width:208px;height:80px;margin:0 auto 12px;}
.popupAttendance.modal-content-attendCheck .img_coupon img{width:100%;}
.popupAttendance.modal-content-attendCheck .benefitText_01{background:url(../images/content/img_m_attendBenefit_01_1.jpg) no-repeat center top;padding-top:120px;background-size:auto 108px;}
.popupAttendance.modal-content-attendCheck .benefitText_02{width:95%;height:107px;margin:12px auto 5px;background:url(../images/content/img_m_attendBenefit_02_1.jpg) no-repeat center left 16px;background-size:auto 79px;}
.popupAttendance.modal-content-attendCheck .img_day.benefitText_02 ul li{line-height:18px;}
.popupAttendance.modal-content-attendCheck .benefitText_03{width:95%;height:159px;margin:18px auto 0;background:url(../images/content/img_m_attendBenefit_03.jpg) no-repeat center left;border:0;background-size:auto 159px;}
.popupAttendance.modal-content-attendCheck .img_day.benefitText_03 ul li{color:#888;line-height:16px;}
.popupAttendance.modal-content-attendCheck .img_day.benefitText_03 ul li .tit{color:#222;font-weight:bold;margin-bottom:5px;text-align:left;}
.popupAttendance.modal-content-attendCheck .img_day.benefitText_03 ul li.t_top{position:absolute;top:18px;}
.popupAttendance.modal-content-attendCheck .img_day.benefitText_03 ul li.t_bottom{position:absolute;top:95px;}
.popupAttendance.modal-content-attendCheck .benefitText_04{width:100%;;height:292px;margin:15px auto 0;background:url(../images/content/img_m_attendBenefit_04.jpg) no-repeat center left 9px;background-size:auto 249px;}
.popupAttendance.modal-content-attendCheck .img_day.benefitText_04 ul li{color:#888;line-height:16px;}
.popupAttendance.modal-content-attendCheck .img_day.benefitText_04 ul li .tit{color:#222;font-weight:bold;margin-bottom:5px;text-align:left;}
.popupAttendance.modal-content-attendCheck .img_day.benefitText_04 ul li.t_top{position:absolute;top:23px;}
.popupAttendance.modal-content-attendCheck .img_day.benefitText_04 ul li.t_middle{position:absolute;top:113px;}
.popupAttendance.modal-content-attendCheck .img_day.benefitText_04 ul li.t_bottom{position:absolute;top:207px;}

/* 팝업css 추가 20170220 */
.popupAttendance.modal-content-attendCheck .img_day .prodImg span.sale{position:absolute;top:8px;left:8px;width:36px;height:36px;background:#4072cd;font-size:0.688em;color:#fff;font-weight:bold;line-height:36px;border-radius:50%;}
.popupAttendance.modal-content-attendCheck .img_day ul li.priceZone{display:inline-block;width:100%;margin-top:0;}
.popupAttendance.modal-content-attendCheck .img_day ul li.priceZone span.pri{display:inline-block;}
.popupAttendance.modal-content-attendCheck .img_day ul li.priceZone span.sale{font-size:0.813em;color:#777;}
.popupAttendance.modal-content-attendCheck .img_day ul li.priceZone span.sale.pri em{font-size:0.813em;color:#666;font-weight:normal;text-decoration:line-through;}
.popupAttendance.modal-content-attendCheck .img_day ul li.priceZone span.price{font-size:0.813em;color:#000;}
.popupAttendance.modal-content-attendCheck span.btn_ty3.btn_hotMore a{width:95%;height:20px;line-height:20px;padding:0;margin-top:5px;font-size:0.813em;color:#888;border:1px solid #ccc;border-radius:0;letter-spacing:-0.7px;}