@charset "utf-8";

span.span_hide {display: none;}

a.btn_con_report span {padding-left:17px;font-size:0.917em;font-weight:bold;color:#356ab8;text-decoration:underline;background:url(../images/common/ico_report.png) no-repeat 0 center;-webkit-background-size:11px auto;-moz-background-size:11px auto;-o-background-size:11px auto;background-size:11px auto;}
.replyArea .chatterListBox .list .cont div.countBundle > span.commentType {font-size:0.917em;color:#141516;text-decoration:underline}


.div_textReviewBox .evaluZone a.btn_modify {font-size:0.917em;font-weight:bold;color:#888;text-decoration:underline;margin-left:5px;}
.div_textReviewBox .evaluZone a.btn_modify + span.term  {display:inline-block;width:16px;height:8px;background:url(../images/content/bg_bar.gif) no-repeat center center;-webkit-background-size:1px auto;-moz-background-size:1px auto;-o-background-size:1px auto;background-size:1px auto}
.div_textReviewBox .evaluZone a.btn_delete {font-size:0.917em;font-weight:bold;color:#356ab8;text-decoration:underline}

dl.dl_jfupload {}
dl.dl_jfupload dd.dd_jfupload {float: left; width: 100%;}
dl.dl_jfupload dd.dd_jfupload_btn {right: 0; top: 0; overflow: hidden;}

.ifupload_progress {height:10px; width: 100%; display: inline-block;}
.ifupload_progress .ifupload_progress_bar {background-color:#000; width:0px; height:3px; display: inline-block;}
.div_progressBar {background-color:#000;width:100%;height:3px;display:none;}

.inputChk5 .l_active {color:#fff;border:1px solid #4072cd;background:#4072cd}
.popup-wrap {padding:10px}
.popup-wrap ul li {padding-bottom:10px}
.div_box .noUi-target {display: inline-block;width:92px; -webkit-appearance:none !important; height:17px; margin-top:8px;background:url('../images/common/grade5.png') no-repeat;-webkit-background-size:87px auto;-moz-background-size:87px auto;-o-background-size:87px auto;background-size:87px auto;border:none;border-radius:0; box-shadow:none}
.div_box .noUi-horizontal .noUi-handle {opacity:0;top:-5px;left:-8px; width:18px; height:35px; border-radius:0; box-shadow:0;background:red}
.div_box .noUi-horizontal .noUi-handle:before,
.div_box .noUi-horizontal .noUi-handle:after {content:""; display:none}
.div_box .noUi-target.grade-00 {background-position:5px 0}
.div_box .noUi-target.grade-01 {background-position:5px -20px}
.div_box .noUi-target.grade-02 {background-position:5px -40px}
.div_box .noUi-target.grade-03 {background-position:5px -60px}
.div_box .noUi-target.grade-04 {background-position:5px -80px}
.div_box .noUi-target.grade-05 {background-position:5px -100px}

.div_evaluation .noUi-target {display: inline-block;position:absolute;left:40px;top:0;width:100px; -webkit-appearance:none !important; height:17px; background:url('../images/common/grade3.png') no-repeat;-webkit-background-size:96px auto;-moz-background-size:96px auto;-o-background-size:96px auto;background-size:96px auto;border:none;border-radius:0; box-shadow:none}
.div_evaluation .noUi-horizontal .noUi-handle {opacity:0;top:-5px;left:-10px; width:18px; height:35px; border-radius:0; box-shadow:0;background:red}
.div_evaluation .noUi-horizontal .noUi-handle:before,
.div_evaluation .noUi-horizontal .noUi-handle:after {content:""; display:none}
.div_evaluation .noUi-target.grade-00 {background-position:5px 0px}
.div_evaluation .noUi-target.grade-01 {background-position:5px -20px}
.div_evaluation .noUi-target.grade-02 {background-position:5px -40px}
.div_evaluation .noUi-target.grade-03 {background-position:5px -60px}
.div_evaluation .noUi-target.grade-04 {background-position:5px -80px}
.div_evaluation .noUi-target.grade-05 {background-position:5px -100px}

.srchFilter .checkBox div.checkArea.rangeArea {position:relative;padding:34px 10px 20px}
.rangetxt {position:absolute;top:0;left:0;width:100%}
.limittxt {position:relative;margin-top:13px;}
.limittxt:after {display: block;content:'';clear:both}
.limittxt .fl {float:left;width:50%}
.limittxt .fr {float:right;width:50%;text-align:right}
.rangetxt .fl {display:inline-block;width:auto;position: absolute;top:0;left:0;}
.rangetxt .fr {display:inline-block;width:auto;position:absolute;top:0;left:0; margin-left:-35px}
.noUi-handle #priceL {position:absolute; top:-22px; width:auto}
.noUi-handle #priceR {position:absolute; top:-22px; width:auto; margin-left:-24px; text-align:right}
.noUi-handle #spfL {position:absolute; top:-22px; width:auto}
.noUi-handle #spfR {position:absolute; top:-22px; width:auto; margin-left:-24px; text-align:right}
.noUi-handle #saleL {position:absolute; top:-22px; width:auto}
.noUi-handle #saleR {position:absolute; top:-22px; width:auto; margin-left:-24px; text-align:right}

.bcView .commentArea .cmtWriteBox .textareaTy2 button.btn_ph2 {display:inline-block; width:37px;height:36px;border:1px solid #d7d7d7;border-radius:2px;background:url(../images/common/ico_photo.png) no-repeat center center;-webkit-background-size:25px auto;-moz-background-size:25px auto;-o-background-size:25px auto;background-size:25px auto;}
 
.div_beautyInfo dl:after {display: block;content:'';clear:both}
.div_beautyInfo dl dt {width:40%;font-size:1.083em;color:#777}
.div_beautyInfo dl dt,
.div_beautyInfo dl dd {float:left;padding:8px 0}
.div_beautyInfo dl dd {width:60%;font-size:1.083em;color:#131313}

.ico_splikeOff {background:url(../images/common/ico_like_off.png) no-repeat 0 0;-webkit-background-size:20px auto;-moz-background-size:20px auto;-o-background-size:20px auto;background-size:24px auto;}
.ico_splikeOn {background:url(../images/common/ico_like.png) no-repeat 0 0;-webkit-background-size:20px auto;-moz-background-size:20px auto;-o-background-size:20px auto;background-size:24px auto;}

.balloonLikeOff {display:none;position: absolute;top:600px;left:20px;width:140px;height:140px;line-height:1.2;padding-top:81px;text-align:center;border-radius:70px;font-size:1.500em;font-weight:bold;color:#fff;background:url(../images/common/ico_like_off.png) no-repeat center 40px;
	-webkit-background-size:auto 33px;
	   -moz-background-size:auto 33px;
		 -o-background-size:auto 33px;
			background-size:auto 33px;
			background-color:rgba(0,0,0,.7);
	-webkit-animation:'an_box1' 0.4s ease 1 normal; 
	-webkit-perspective: 1000;
	-webkit-backface-visibility:hidden;z-index:200}
.balloonLikeOff.active {
	-webkit-animation:'an_box2' 0.4s ease 1 normal}

.colorArea2 ul:after {display:block;content:'';clear:both}
.colorArea2 ul li {position:relative;float:left;height:24px;margin:0 6px 6px 0}
.colorArea2 ul li span.color {display: block;width:24px;height:24px;border:2px #ffffff; border-radius:2px;}
.colorArea2 ul li a img {border-radius:2px}
.colorArea2 ul li.active span.color {border:2px solid #5a95ff;border-radius:2px}

.loginBannerVisual {overflow:hidden; position:relative; width:100%;}
.loginBannerVisual-wrap {overflow:hidden; position:relative;}
.loginBannerVisual .loginBannerVisual-wrap > div {position:relative; float:left;}
.loginBannerVisual-nav {margin-top:2px; width:100%; text-align:center; height:15px;}
.loginBannerVisual-nav > span {display:inline-block;width:6px;height:6px;border-radius:3px;background:#c4c4c4}
.loginBannerVisual-nav > span.active {background:#131313}

.loginBanner {overflow:hidden;visibility:hidden;position:relative;width:100%}
.loginSec loginBanner:after {display: block;content:'';clear:both}
.loginSec .loginBannerVisual-wrap {overflow:hidden;position:relative}
.loginSec .loginBannerVisual-wrap > div {position:relative;float:left;width:100%}
.loginSec .loginBannerVisual-wrap > div img {height:78px;}
.loginSec .loginBannerVisual-wrap > div a {display:block;width:100%;height:100%}
.loginSec .loginBannerVisual-nav {position: absolute;left:0;bottom:10px;width:100%;text-align:center}
.loginSec .loginBannerVisual-nav > span {display:inline-block;width:6px;height:6px;border-radius:3px;background:#c4c4c4;margin-bottom:25px;}
.loginSec .loginBannerVisual-nav > span.active {background:#131313}

#commonLoadingBoxBg {display:none; position:fixed; left:0; top:0; width:100%; height:100%; background:url('../images/common/bg_pop.png') repeat; z-index:50;}
#commonLoadingBox {
	position : absolute;
	border:none; 
	margin:0 auto;  
	display:block; 
	vertical-align:middle; 
	width:64px; 
	height:152px; 
	z-index:31;
}

#commonLoadingBox div {width:68px;height:60px;background:url(../images/common/loading.png) no-repeat 0 0;-webkit-background-size:auto 60px;-moz-background-size:auto 60px;-o-background-size:auto 60px;background-size:auto 60px;z-index: 999999999999;}
#commonLoadingBox .l-1 {background-position: 0 0}
#commonLoadingBox .l-2 {background-position:-68px 0}
#commonLoadingBox .l-3 {background-position:-136px 0}
#commonLoadingBox .l-4 {background-position:-204px 0}
#commonLoadingBox .l-5 {background-position:-272px 0}
#commonLoadingBox .l-6 {background-position:-340px 0}
#commonLoadingBox .l-7 {background-position:-408px 0}
#commonLoadingBox .l-8 {background-position:-476px 0}
#commonLoadingBox .l-9 {background-position:-544px 0}
#commonLoadingBox .l-10 {background-position:-612px 0}
#commonLoadingBox .l-11 {background-position:-612px 0}

.adbanner2 {max-height:50px;overflow:hidden;}
.adbanner_bottom2 {padding:0 10px 15px 10px; max-height:65px; overflow:hidden;}


/*[S] YHCHOI : 추가 CSS */

.bskGiftbox ul li .prodImg .inputabsol label {position:relative}
.bskGiftbox ul li .prodImg .inputabsol label .mt {display: block;position:absolute;bottom:0;left:0;width:100%;padding:5px 0;text-align:center;font-size:0.750em;color:#fff;background:rgba(0,0,0,.6)}

.inputabsol {display:block;position:relative}
.inputabsol label {display:inline-block;font-size:1.167em}
.inputabsol label:after {display:inline-block;content:'';position:absolute;top:-5px;left:-10px;width:30px;height:30px;-webkit-background-size:30px auto;-moz-background-size:30px auto;-o-background-size:30px auto;background-size:30px auto;z-index:20}
.br_img  {width:85px;max-width:85px;vertical-align:middle}
.list-style2 li{padding-left:7px;font-size:0.917em;line-height:1.4;color:#868686;background: url(../images/common/ico_parag.gif) no-repeat 0 6px;-webkit-background-size:5px auto;-moz-background-size:5px auto;background-size:5px auto}

.need_bpoint {
color: #ea5279;
}

/*[E] YHCHOI : 추가 CSS */

.error_hide {display:none;}

.div_todaydeli .alimDetailBox {
	position : relative;
	margin-top : 10px;
	padding : 12px 9px;
	border : 1px solid #d9d9d9;
	border-radius : 2px;
	background : #f4f4f4;	
}

.div_todaydeli2 .alimDetailBox {
	position : relative;
	margin-top : 10px;
	padding : 12px 9px;
	border : 1px solid #d9d9d9;
	border-radius : 2px;
	background : #f4f4f4;	
}

.div_todaydeli .alimDetailBox .btn_spClose {
	position : absolute;
	top : -10px;
	right : -5px;
}

.nowSec .todayEvent .giftView > a > .thumbImg .txtBalloon2 {display:block;position:absolute;top:4px;right:-50px;width:74px;height:72px;background:url(../images/content/sp_bg.png) no-repeat 0 0;
	-webkit-background-size:74px auto;
	   -moz-background-size:74px auto;
	     -o-background-size:74px auto;
	        background-size:100px auto;
			background-position:left -438px;}
.nowSec .todayEvent .giftView > a > .thumbImg .txtBalloon2 .month {
	margin-top:8px;font-size:0.833em;font-weight:bold;color:#888;font-style:normal;display:block;text-align:center;width:66px;
}
.nowSec .todayEvent .giftView > a > .thumbImg .txtBalloon2 .day {
	margin-top:3px; font-family:'Helvetica'; font-size:2.333em; font-weight: bold; color:#fff;font-style:normal;display:block;text-align:center;width:66px;
}

.span_dailyTitle {
	font-size : 1.333em;
	font-weight : bold;
	color : #131313;
	letter-spacing :-1px;
}

.span_dailyGroupnm {
	margin-top : 7px;
	font-size : 1.083em;
	color : #888;
}

/*개인정보처리방칭*/
.personalinfo .ttl {line-height:20px;}
.personalinfo .detail{line-height:20px;}
.personalinfo .detail li{margin-bottom:20px;line-height:20px;}
.agenda_privacy {margin:15px 0 15px 0;}
.agenda_privacy li a{line-height:25px;color:#385F9A;font-size:1.1em;font-weight:bold;}
.agenda_privacy_right li a{line-height:25px;}
.tabletype table {margin-top:20px;margin-bottom:20px;}

/*시스템오류신고 모바일 정보*/
.counselWrite .checkArea .DeviceInfo em {color:#4c7ed6}

.ico_viewcnt {background:url(../images/common/sp_ico2_ico.png) no-repeat 0 20%}
.ico_viewcnt {background-position: 0 -457px}

.ico_viewcnt {display: inline-block;height:15px;padding-left:15px; margin-left:10px;}
.ico_viewcnt .hide_txt caption span, legend, .hide_txt {overflow:hidden;visibility:hidden;position:absolute;width:0;height:0;padding:0;margin:0;font-size:0;text-indent:-100%;white-space:nowrap;z-index:-1}

.todayChanceSlide {overflow:hidden;position:relative;width:100%;margin:0 auto}
.todayChanceSlide .today_chance_wrap:after {display:block;content:'';clear:both}
.todayChanceSlide .today_chance_wrap {overflow:hidden;position:relative;height:auto}
.todayChanceSlide .today_chance_wrap > div.prodView {position:relative;float:left;width:100%;margin:0}

.today_chance_nav {position:absolute;top:0;right:10px;width:100%;text-align:right}
.today_chance_nav > span {display:inline-block;width:6px;height:6px;border-radius:3px;background:#c4c4c4}
.today_chance_nav > span.active {background:#131313}

.EventProd {overflow:hidden;visibility:hidden;position:relative;width:100%;margin:0 auto}
.EventProd:after {display:block;content:'';clear:both}
.EventProd .cont_wrap {overflow:hidden;position:relative;height:auto}
.EventProd .cont_wrap > div.prodAlbumType.v2 {position:relative;float:left;width:100%;margin:0}

.eventProd-nav {position:absolute;top:0;right:10px;width:100%;text-align:right}
.eventProd-nav > span {display:inline-block;width:6px;height:6px;border-radius:3px;background:#c4c4c4}
.eventProd-nav > span.active {background:#131313}

.reviewtag{margin:5px 10px 0 0;padding-left: 18px;font-size: 12px;color: #999;background: url(../images/common/sp_ico2_ico.png) no-repeat 0 -96px;}

.calendarArea .cycle-next,
.calendarArea .cycle-prev {position:relative;display:block;width:24px;height:24px;background:url(../images/common/sp_arrow.png) no-repeat 0 0;cursor:pointer; z-index:21;}
.calendarArea .cycle-next {width:45px;height:45px;background-position:-50px -250px;z-index:10;float:right;display:none;}
.calendarArea .cycle-prev {width:45px;height:45px;background-position:0 -250px;z-index:10;float:left;}

.cm_popup_wrap .modal-content.popupRouletteResult {width:100%}
.popupRouletteResult .top {position:relative}
.popupRouletteResult .top .ttl {color:#3262b7}
.popupRouletteResult .top .otherDate {position:absolute;top:0;right:0}
.popupRouletteResult .tableNewsType {margin-top:20px}
.popupRouletteResult .tableNewsType table thead th {border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1}
.popupRouletteResult .tip {margin-top:30px}
.popupRouletteResult .tip h2 {padding-bottom:6px;font-weight:bold;color:#333}
.popupRouletteResult .tip ul li {padding-top:2px;font-size:12px}

.templateFooter{padding:35px 35px;background:#000;width:100%;}
.templateFooter strong{display:block;margin-bottom:15px;font-size:1.3em;color:#fff}
.templateFooter p{padding-left:10px;margin-bottom:10px;font-size:1em;color:#fff;background:url(../images/content/dot_templateFooter.gif) no-repeat 0px 7px;}

.apPlus_main{}
.apPlus_main .section{padding:0 15px 20px;text-align:center;}
.apPlus_main .section .plusHead{padding-top:30px;}
.apPlus_main .section .plusHead > img{width:109px;}
.apPlus_main .section .plusHead p{margin:15px 0;line-height:1.5em;font-size:13px;color:#888;}
.apPlus_main .section .plusHead .btn_gradeInfo a{background:#f4f4f4;color:#555;border:1px solid #d9d9d9;font-size:13px;}
.apPlus_main .section .plusBody{padding-top:20px;}
.apPlus_main .section .plusBody .b_txt{position:relative;margin-bottom:12px;padding:5px 0;font-size:13px;font-weight:bold;}
.apPlus_main .section .plusBody .b_txt em{font-size:11px;}
.apPlus_main .section .plusBody .checkList{/* margin-bottom:12px; */}
.apPlus_main .section .plusBody .checkList > li{position:relative;/* float:left; */width:100%;height:68px;border:1px solid #d9d9d9;box-sizing:border-box;border-bottom:0;}
.apPlus_main .section .plusBody .checkList > li .bg_selected{display:none;position:absolute;left:0;top:0;width:100%;height:100%;/* border:2px solid #3764bf; */box-sizing:border-box;}
.apPlus_main .section .plusBody .checkList > li.selected .bg_selected{display:block;}
.apPlus_main .section .plusBody .checkList > li + li{float:right;}
.apPlus_main .section .plusBody .checkList label{display:block;width:100%;height:100%; padding:10px 0}
.apPlus_main .section .plusBody .checkList .s_beneTit{padding:15px 0 12px;font-size:13px;color:#000;}
.apPlus_main .section .plusBody .checkList label li img{width:45px;}
.apPlus_main .section .plusBody .checkList label li p{margin:10px 0;font-size:10px;}
.apPlus_main .section .plusBody .checkList .checkList_A ul{padding:0 5px;}
.apPlus_main .section .plusBody .checkList .checkList_A li{float:left;width:50%;}
.apPlus_main .section .plusBody .checkList .chkArea{display:block;width:29px;height:29px;margin:0 auto;background:url(../images/content/ico_benefit_chk.png) no-repeat 0 0;background-size:20px 70px;}
.apPlus_main .section .plusBody .checkList .chkArea.on{background-position:0 -40px;}
.apPlus_main .section .plusBody .checkListBot{width:100%;height:24px;line-height:24px;background:#414141;text-align:center;font-size:10px;color:#fff;font-weight:bold;}
.apPlus_main .section .plusBody .checkListBot span{background:#de76c3;border-radius:10px;padding:1px 5px;}
.apPlus_main .section .plusBody .txtBot{font-size:9px;color:#6a6a6a;margin-top:9px;display:inline-block;background:url(http://www.amorepacificmall.com/images/common/bul_rec2.png) no-repeat left 6px;background-size:2px auto;padding-left:6px;}
.apPlus_main .section .plusBenefit{padding:23px 5px 20px;margin-bottom:14px;text-align:left;background:#f4f4f4 url(../images/content/bg_plusBenefit.png) no-repeat 22px 15px;background-size:35px 120px;}
.apPlus_main .plusBenefit{padding:10px; margin-bottom:20px;background:#f7f7f7;}
.apPlus_main .plusBenefit ul{padding:0 5px;}
.apPlus_main .plusBenefit li{padding:10px 0 10px 40px;font-size:13px;line-height:1.3em;color: #000;}
.apPlus_main .plusBenefit .b01 span, .apPlus_main .plusBenefit .b02 span{font-size:11px;color: #888;}
.apPlus_main .plusBenefit .b01{background:url(../images/content/bgBenefit_01.gif) no-repeat 0 4px;background-size:29px;}
.apPlus_main .plusBenefit .b02{background:url(../images/content/bgBenefit_02.gif) no-repeat 0 4px;background-size:29px;}
.apPlus_main .plusBenefit .b03{background:url(../images/content/bgBenefit_03.gif) no-repeat 0 4px;background-size:29px;}
.apPlus_main .plusBenefit .b04{background:url(../images/content/bgBenefit_04.gif) no-repeat 0 4px;background-size:29px;}
.apPlus_main .plusBenefit .b05{background:url(../images/content/bgBenefit_05.gif) no-repeat 0 4px;background-size:29px;}
.go_faq{padding:10px 0 30px;}
.go_faq img{margin-top:-2px;width:17px;}
.apPlusSuccess{padding:140px 10px 40px;background:url(../images/content/bg_apPlus_Success.png) no-repeat center 35px;background-size:85px;}
.apPlusSuccess .txt_success{margin-bottom:30px;font-size:14px;text-align:center;font-weight:bold;color:#333;letter-spacing:-0.1em;}
.apPlusSuccess .txt_success em{color:#ef6187;}
.apPlusPay {padding:0 10px 45px;}
.apPlusPay .nonmember-terms {padding:0;line-height:1.3em;}
.apPlusPay h3{padding-left:5px;margin-bottom:10px;color:#222;font-size:14px;font-weight:bold;}
.apPlusPay .nonmember-terms .scrollArea{overflow-y:auto;padding:8px;height:90px;background-color:#f5f5f5;color:#666;font-size:10px;box-sizing:border-box;}
.apPlusPay .nonmember-terms .list-1 li{line-height:1.3em;}
.apPlusPay .nonmember-terms .inputChk{margin:10px 0;}
.apPlusPay .orderMethod{margin-bottom:20px;background:#f5f5f5;}
.apPlusPay .giftCardTxt{margin-bottom:25px;font-weight:bold;color:#000;font-size:14px;letter-spacing:-0.05em;text-align:center;}
.apPlusPay .giftCardTxt span{color:#5395ed;}
.order.apPlusPay .orderMethod .endOrderPrice{background:#f5f5f5;}
.order.apPlusPay .agreeChkArea{padding-bottom:15px;}
.order.apPlusPay .agreeChkArea.inputChk label{font-size:11px;letter-spacing:-0.05em;}
.ico_memberLevel4 {display:inline-block;width:100px;height:99px;font-size:0;line-height:0;text-indent:-9999em;background:url(../images/content/ico_memberLevel3.png) no-repeat 0 0;-webkit-background-size:100px auto;-moz-background-size:100px auto;-o-background-size:100px auto;background-size:100px auto}
.ico_memberLevel4.m1 {background-position: 0 0;}
.ico_memberLevel4.m2 {background-position: 0 -124px;}
.ico_memberLevel4.m3 {background-position: 0 -252px;}
.ico_memberLevel4.m5 {background-position: 0 -390px;}
.ico_memberLevel4.m6 {background-position: 0 -518px;}
.ico_memberLevel4.m7 {background-position: 0 -645px;}
.ico_memberLevel4.m8 {background-position: 0 -785px;}
.ico_memberLevel4.m9 {background-position: 0 -912px;}
.ico_memberLevel4.m0 {background-position: 0 -1039px;}
.apPlus_chkResult{margin:27px 0 23px;}
.apPlus_chkResult ul{background:#fff url(../images/content/bg_apPlus_chkResult.jpg) no-repeat center 55%;background-size:28px;}
.apPlus_chkResult ul li{float:left;width:45%;text-align:center;}
.apPlus_chkResult ul li.chkResult_left{margin-left:5%;}
.apPlus_chkResult ul li.chkResult_right{margin-right:5%;}
.apPlus_chkResult ul li.chkResult_left span img{width:101px;height:97px;}
.apPlus_chkResult ul li.chkResult_right span img{width:98px;height:97px;}
.apPlus_chkResult .chk01_name{font-size:13px;font-weight:bold;color:#222;margin-bottom:10px;height:34px;line-height:34px;}
.apPlus_chkResult .chk01_txt{font-size:10px;color:#777;margin-top:7px;margin-left:-5px;}
.apPlus_chkResult .chk02_name{font-size:12px;font-weight:bold;color:#222;margin-bottom:10px;height:34px;}
.apPlus_chkResult .chk02_txt{font-size:10px;color:#777;margin-top:10px;}

/* 160415 추가:s */
.apPlus_main{font-family:'NanumGothic', '나눔고딕'; line-height:1.5}
.apPlus_main .tab_wrap.v3 .tab_cate {border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; background:#fff}
.apPlus_main .tab_wrap.v3 .tab_cate.active {border-top:1px solid #000; border-bottom:1px solid #000; background:#000}
.apPlus_main .tab_wrap.v3 .tab_cate.active:after{background:0}
.apPlus_main .cardBox{padding:38px 12% 47px}
.apPlus_main .cardBox .card_apPlus{width:60%}
.apPlus_main .cardBox .tit{font-size:14px; font-weight:bold; color:#000; margin-bottom:6px}
.apPlus_main .cardBox .desc{font-size:11px; color:#999}
.apPlus_main .cardBox .sec_border{margin-top:12px; padding-top:12px; border-top:solid 1px #000}
.apPlus_main .benefitBox{width:100%; position:relative; box-sizing:border-box; padding: 38px 6.9% 18px; border: solid 3px #f5f5f5}
.apPlus_main .benefitBox .btn_joinApPlus{width:86.2%; height:35px; line-height:35px;position:absolute; left:6.9%; top:-18px; background-color:#fa4472; color:#fff; font-size:13px; font-weight:bold}
.apPlus_main .benefitBox h3{font-size:18px; color:#d954b9}
.apPlus_main .benefitBox .sub_tit{padding:10px 0 0; font-size:9px; color:#999}
.apPlus_main .benefitBox .sub_tit + .sub_tit{padding:6px 0 0;}
.apPlus_main .section .plusBody .checkList > li label p{/* padding: 4px 0; */ font-size:10px; color:#000; font-weight:bold}
.apPlus_main .section .plusBody .checkList .chkArea{margin-top:10px}
.apPlus_main .benefitBox .ico_plus{width:10.5%; margin:20px 0}
.apPlus_main .benefitBox .ben_list{margin-top:20px}
.apPlus_main .benefitBox .ben_list li{line-height:17px;}
.apPlus_main .benefitBox .ben_list li span{display:block; float:left; text-align:left; vertical-align:middle}
.apPlus_main .benefitBox .ben_list li span.num{width:8%; font-size:17px; color:#e181c8; font-style:italic}
.apPlus_main .benefitBox .ben_list li span.ben_desc{width:92%; font-size:9px; color:#000;}
.apPlus_main .benefitBox .ben_list li span.ben_desc strong{text-decoration:underline; font-weight:bold}
.apPlus_main .benefitBox .ben_list li span.ben_desc em{font-weight:normal; color:#777}
.apPlus_main .benefitBox .ben_list li + li{margin-top:14px}

/* 160415 추가:e */

/* ONEpay 사은품 선택 페이지 [s] */
.giftSec{background:#f1f1f1;padding-bottom:50px;}
.giftSec .giftTit{background:#f1f1f1;padding:17px 0 17px 28px;letter-spacing:-1px;}
.giftSec .giftTit .tit1{font-size:1.188em;color:#111;font-weight:bold;margin-bottom:8px;}
.giftSec .giftTit .tit2{font-size:0.938em;color:#898989;letter-spacing:-1.3px;}

.giftSec .giftListArea{width:100%;padding:20px 0;background:#fff;overflow:hidden;}
.giftSec .giftListArea ul{width:100%;overflow:hidden;overflow-x:auto;white-space:nowrap;-webkit-overflow-scrolling: touch;-webkit-perspective:1000;perspective:1000;padding:0 20px;}
.giftSec .giftListArea ul::-webkit-scrollbar {display:none;}
.giftSec .giftListArea ul:after {content:'';}
.giftSec .giftListArea ul li{width:35%;height:140px;text-align:center;margin-right:2%;display:inline-block;}
.giftSec .giftListArea ul li .prodImg{position:relative;max-width:75px;margin:0 auto;background:#fff;}
.giftSec .giftListArea ul li .prodDetail{width:75px;min-height:50px;margin:0 auto;}
.giftSec .giftListArea ul li .prodDetail .brandNm{margin:10px 0 3px;font-size:0.938em;color:#898989;}
.giftSec .giftListArea ul li .prodDetail .prodNm{color:#111;font-size:0.938em;height:30px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;white-space:normal;line-height: 15px;}    
.giftSec .giftListArea .inputChk4 label:after{left:auto;right:-10px;}
.giftSec .giftListArea .inputChk4 .checkbox:checked  + label:after{top:0px;width:17px;height:17px;background:url(../images/content/bg_gift_pop_inputChk_02_checked.png) no-repeat left top;background-size:17px auto;}

.onepayPayment .btnSaveArea{width:100%;display:inline-block;position:fixed;bottom:0;}
.onepayPayment .btnSaveArea > span{display:block;float:left;width:50%;}
.onepayPayment .btnSaveArea a {display:inline-block;width:100%;height:50px;padding:0 10px;line-height:50px;text-align:center;font-size:1.250em;font-weight:bold;color:#fff;background:#000;-webkit-transition-property:all;-webkit-transition-duration:0.7s;-webkit-transition-timing-function:ease;}
.onepayPayment .btnSaveArea span.btn_cardDel a{background:#898989;}
/* ONEpay 사은품 선택 페이지 [e] */

/* ONEpay LoadingBox [s] */
#commonONEpayLoadingBox {
	position : absolute;
	border:none; 
	margin:0 auto;  
	display:block; 
	vertical-align:middle; 
	width:120px; 
	height:120px; 
	z-index:31;
}

#commonONEpayLoadingBox div {width:120px;height:120px;-webkit-background-size:120px;-moz-background-size:120px;-o-background-size:120px;background-size:120px;z-index: 999999999999;}
#commonONEpayLoadingBox .l-1 {background:url(../images/common/img_loading_pay_1.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-2 {background:url(../images/common/img_loading_pay_2.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-3 {background:url(../images/common/img_loading_pay_3.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-4 {background:url(../images/common/img_loading_pay_4.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-5 {background:url(../images/common/img_loading_pay_5.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-6 {background:url(../images/common/img_loading_pay_6.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-7 {background:url(../images/common/img_loading_pay_7.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-8 {background:url(../images/common/img_loading_pay_8.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-9 {background:url(../images/common/img_loading_pay_9.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-10 {background:url(../images/common/img_loading_pay_10.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-11 {background:url(../images/common/img_loading_pay_11.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-12 {background:url(../images/common/img_loading_pay_12.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-13 {background:url(../images/common/img_loading_pay_13.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-14 {background:url(../images/common/img_loading_pay_14.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-15 {background:url(../images/common/img_loading_pay_15.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-16 {background:url(../images/common/img_loading_pay_16.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-17 {background:url(../images/common/img_loading_pay_17.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-18 {background:url(../images/common/img_loading_pay_18.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-19 {background:url(../images/common/img_loading_pay_19.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-20 {background:url(../images/common/img_loading_pay_20.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-21 {background:url(../images/common/img_loading_pay_21.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-22 {background:url(../images/common/img_loading_pay_22.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-23 {background:url(../images/common/img_loading_pay_23.png) no-repeat 0 0;}
#commonONEpayLoadingBox .l-24 {background:url(../images/common/img_loading_pay_24.png) no-repeat 0 0;}
/* ONEpay LoadingBox [e] */

/* 모바일 구매후기 [s] */
.page_info .head .ttl{font-size:18px;color:#000;font-weight:bold;}
.page_info .btn_close{position:absolute;right:20px;top:50%;margin-top:-11px;width:21px;height:21px;display:block;text-indent:-9999px;background:url(../images/content/btn_close.jpg) no-repeat 0 0;background-size:cover;}
.app_popup{padding:27px 20px 20px;}
.app_popup p{letter-spacing:-0.08em;}
.app_popup .txt_imp{color:#7b5bbc!important;}
.app_popup .popupProdReWrite .cont{border-top:0;padding-top:0;margin-top:20px;}
.app_popup .popupProdReWrite .box{margin-top:10px;}
.app_popup .popupProdReWrite .box .ttl{font-size:14px;color:#898989;top:4px;}
.app_popup .popupProdReWrite .textareaTy textarea{color:#000;font-size:13px;}
.app_popup .inputChk4 label{padding-left:22px;}
.app_popup .inputChk4 label:after{left:0;}
.app_popup .inputChk4 .checkbox:checked  + label:after{top:0px;width:17px;height:17px;background:url(../images/content/bg_gift_pop_inputChk_02_checked.png) no-repeat left top;background-size:17px auto;left:0;}
.app_popup .chk_byte{position:relative;margin-top:20px;}
.app_popup .byte{position:absolute;right:0;top:0;color:#898989;}
.app_popup .byte em{color:#8161e4;}
.app_popup .popupProdReWrite .content .btnArea{margin-top:20px;}
.app_popup .popupProdReWrite .content .btnArea span{width:49%;}
.app_popup .popupProdReWrite .content .btnArea > span:first-child{margin-right:2%;}
.app_popup .btn_review_cancel a{display:inline-block;width:100%;height:50px;padding:0 10px;line-height:50px;text-align:center;font-size:1.250em;font-weight:bold;background:#898989;color:#fff;border:1px solid #898989;border-radius:0;-webkit-transition-property:all;-webkit-transition-duration:0.7s;-webkit-transition-timing-function:ease;}
.app_popup span.btn_review_reg a,.app_popup span.btn_review_mod a{background:#000;border-radius:0;height:50px;line-height:50px;}

.div_box .gradeType6{display:inline-block;width:110px;height:18px;background:url(../images/common/grade6.png) no-repeat 0 0;-webkit-background-size:110px auto;-moz-background-size:110px auto;-o-background-size:110px auto;background-size:110px auto;margin-top:5px;}
.gradeType6.grade00 {background-position:0 0}
.gradeType6.grade01 {background-position:0 -28px}
.gradeType6.grade02 {background-position:0 -56px}
.gradeType6.grade03 {background-position:0 -84px}
.gradeType6.grade04 {background-position:0 -112px}
.gradeType6.grade05 {background-position:0 -140px}
/* 모바일 구매후기 [e]  */
