
.popselt select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    width:100%;
    height:100%;
    border:0;
    text-indent: 1em !important;
    font-size: 1em;
    color:#ffffff;
    }
.popselt select option{
	background:#3667de;
    color:#ffffff;}
.amo_btn {
	cursor:pointer;
	position: absolute;
	text-indent: -99999px;
	outline: 0px solid red;
	cursor: pointer !important;
	background: red;
	opacity: 0;
	filter: alpha(opacity=0);
}

.amore_Mst{position:relative;width:100%;/* max-width:640px; */min-width:320px;margin:0 auto;height:auto;overflow:hidden;}
.amore_Mst img{position:relative;width:100%;}

.amore_Mst .m_page1{position:relative;width:100%;}
.amore_Mst .m_page2{position:relative;width:100%;}
.amore_Mst .m_page3{position:relative;width:100%;}
.amore_Mst .m_page4{position:relative;width:100%;}
.amore_Mst .m_page5{position:relative;width:100%;}
.amore_Mst .m_page6{position:relative;width:100%;}
.amore_Mst .m_page7{position:relative;width:100%;}

.m_page1 .logo{position:absolute;top: 12.7%;left: 31.8%;width: 36%;height: 29%;}

.amore_Mst .m_page2 .dDGS{position:absolute;top: 0%;left: 1.9%;width: 96.3%;height: 100%;}
.amore_Mst .m_page2 .dDGS{height: 100%;}

.amore_Mst .m_page2 .swiper-container{position:absolute;top: 0.7%;left: 1%;width: 98%;height: 99.3%;}
.amore_Mst .m_page2 .swiper-wrapper{height:91.2%;}

.m_page2 .popBg{position:absolute; top:0; left:0; width:100%; height:91.8%; background:url(../images/event/event2017/ryoyul/guideBg.png); z-index:1; }
.m_page2 .popBg .notiHand{position:absolute;top:40%;left: 25%;width: 51.5%;}


.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom:14px!important;}
.swiper-pagination-bullet-active{background:#f75183!important;}
.swiper-pagination-bullet{width:15px!important; height:15px!important;}

.amore_Mst .m_page3 .p3btn1{position:absolute;top: 0%;left:0%;width: 50%;height: 100%;}
.amore_Mst .m_page3 .p3btn2{position:absolute;top: 0%;left: 50%;width: 50%;height: 100%;}

.amore_Mst .m_page4 .p4pic_box{position:absolute;top: 29%;left: 2.8%;width: 94.6%;height: 70.7%;}
.amore_Mst .m_page4 .p4btn1{position:absolute;top: 0%;left: 2%;width: 32%;height: 50%;}
.amore_Mst .m_page4 .p4btn2{position:absolute;top: 0%;left: 34.2%;width: 31.5%;height: 50%;}
.amore_Mst .m_page4 .p4btn3{position:absolute;top: 0%;left: 66%;width: 32%;height: 50%;}
.amore_Mst .m_page4 .p4btn4{position:absolute;top: 50%;left: 2%;width: 32%;height: 50%;}
.amore_Mst .m_page4 .p4btn5{position:absolute;top: 50%;left: 34.2%;width: 31.5%;height: 50%;}
.amore_Mst .m_page4 .p4btn6{position:absolute;top: 50%;left: 66%;width: 32%;height: 50%;}

.amore_Mst .m_page4 .p4pic_box_on{position:absolute;top: 29%;left: 2.7%;width: 94.7%;height: 70.7%;}
.amore_Mst .m_page4 .p4pic_box_on .po4btn1{position:absolute;top: 80%;left: 37%;width: 33%;height: 5.6%;}
.amore_Mst .m_page4 .p4pic_box_on .po4btn2{position:absolute;top: 89.6%;left: 17%;width: 66%;height: 9%;}
.amore_Mst .m_page4 .p4pic_box_on .po4btn3{position:absolute;top: 85.5%;left: 38%;width: 30%;height: 4.5%;}
.amore_Mst .m_page4 .p4pic_box_on .close{position:absolute;top:0%;right:0%;width:10%;height: 8%;}

.amore_Mst .m_page6 .p6btn1{position:absolute;top: 89%;left: 4%;width: 46%;height:10%;}
.amore_Mst .m_page6 .p6btn2{position:absolute;top: 89%;left: 50.4%;width: 44%;height:10%;}

.amore_Mst .m_page8 .p8btn1{position:absolute;top: 13%;left: 0%;width: 100%;height: 79%;}

.amore_Mst .m_page9{position:relative;width:100%;}
.p9b1{position:absolute;top: 68%;left: 3%;width: 44%;height: 16%;}

/*�뙘�뾽*/
.web_pop_wrap {position:fixed; top:0%; left:0%; min-width:320px; width:100%; height:100%; z-index:100;}

.web_pop_St {position:absolute; top:0; left:0; width:100%; height:100%}/*�긽�쐞�젅�씠�뼱*/
.web_pop_St img {position:relative; max-width:100%}
.web_pop_St .pcbg {position:fixed; top:0; left:0; width:100%; height:100%; background:url(../images/event/event2017/ryoyul/bg_bk70.png);}
.web_pop_St .poppage {position:absolute; top:0; left:0; width:100%; height:100%; z-index:10; overflow:auto;}

/*�뙘�뾽*/
.web_pop_St .poppage .parea1 {position:relative; top:10%; max-width:640px; width:100%; margin:0 auto 10%;}
.web_pop_St .poppage .parea1 .close{position:absolute; top:0; right:0; width:17%;height:6.5%;}

/*�뙘�뾽*/
.web_pop_St .poppage .parea2 {position:relative; top:10%; max-width:640px; width:100%; margin:0 auto 10%;}
.web_pop_St .poppage .parea2 .p1{position:relative; width:100%;}
.web_pop_St .poppage .parea2 .p1 .close{position:absolute; top:0; right:0; width:17%;height:100%;}
.web_pop_St .poppage .parea2 .p2{position:relative; width:100%;}
.web_pop_St .poppage .parea2 .p2 .inImg{position:absolute;top: 17.2%;left: 2.8%;width: 94.4%;height: 82.1%;}

.web_pop_St .poppage .parea2 .p3{position:relative; width:100%;}
.web_pop_St .poppage .parea2 .p3 .put1{position:absolute;top: 7%;left: 32%;width: 64%;height: 16%;color: #bdbbae;font-size: 1.1em;text-indent: 6px;}
.parea2 .p3 input.put1::-webkit-input-placeholder { color:#bdbbae }
.parea2 .p3 input.put1::-moz-placeholder { color:#bdbbae }
.parea2 .p3 textarea.put2::-webkit-input-placeholder { color:#bdbbae }
.parea2 .p3 textarea.put2::-moz-placeholder { color:#bdbbae }
.parea2 .p3 input.put3::-webkit-input-placeholder { color:#bdbbae }
.parea2 .p3 input.put3::-moz-placeholder { color:#bdbbae }

.web_pop_St .poppage .parea2 .p3 .put2{position:absolute;top: 28.3%;left: 2.1%;width: 95.9%;height: 40.1%;padding: 3%;box-sizing: border-box;color: #bdbbae;font-size: 1.1em;line-height: 1.1em; font-family:'Noto Sans KR'}
.web_pop_St .poppage .parea2 .p3 .put3{position:absolute;top: 73.5%;left: 32%;width: 64%;height: 16%;color: #bdbbae;font-size: 1.1em;text-indent: 6px;}

.web_pop_St .poppage .parea2 .p4{position:relative; width:100%;}
.web_pop_St .poppage .parea2 .p4 .p401{position:absolute;top: 3%;left: 0%;width: 100%;height: 47%;}
.web_pop_St .poppage .parea2 .p4 .p402{position:absolute;top: 51%;left: 0%;width: 50%;height: 45%;}
.web_pop_St .poppage .parea2 .p4 .p403{position:absolute;top: 50.7%;left: 50%;width: 50%;height: 45%;}

/*�뙘�뾽*/
.web_pop_St .poppage .parea3 {position:relative; top:10%; max-width:640px; width:100%; margin:0 auto 10%;}
.web_pop_St .poppage .parea3 .p1{position:relative; width:100%;}
.web_pop_St .poppage .parea3 .p1 .close{position:absolute; top:0; right:0; width:17%;height:100%;}

.web_pop_St .poppage .parea3 .p2{position:relative; width:100%;}

.web_pop_St .poppage .parea3 .p3{position:relative; width:100%;}
.web_pop_St .poppage .parea3 .p3 .inImg{position:absolute;top: 0.9%;left: 2.8%;width: 94.4%;height: 97.5%;}

.web_pop_St .poppage .parea3 .p4{position:relative; width:100%;}

.web_pop_St .poppage .parea3 .p5{position:relative; width:100%;}
.web_pop_St .poppage .parea3 .p5 .p5b1{position:absolute; top:0; left:0; width:100%; height:100%;}
/* .web_pop_St .poppage .parea3 .p5 .p5b2{position:absolute; top:50%; left:0; width:100%; height:47%;} */

/*�뙘�뾽*/
.web_pop_St .poppage .parea4 {position:relative; top:10%; max-width:640px; width:90100; margin:0 auto 10%;}
.web_pop_St .poppage .parea4 .p1{position:relative; width:100%;}
.web_pop_St .poppage .parea4 .p1 .close{position:absolute; top:0; right:0; width:17%;height:100%;}
.web_pop_St .poppage .parea4 .p2{position:relative; width:100%;}
.web_pop_St .poppage .parea4 .p2 .inImg{position:absolute;top: 22.7%;left: 2.8%;width: 94.4%;height: 76.1%;}

.web_pop_St .poppage .parea4 .p3{position:relative; width:100%;}

.web_pop_St .poppage .parea4 .p4{position:relative; width:100%;}
.web_pop_St .poppage .parea4 .p4 .p4b1{position:absolute;top: 3%;left: 0%;width: 100%;height: 30%;}
.web_pop_St .poppage .parea4 .p4 .p4b2{position:absolute;top: 33.7%;left: 0%;width: 100%;height: 31%;}
.web_pop_St .poppage .parea4 .p4 .p4b3{position:absolute;top: 65.7%;left: 0%;width: 100%;height: 31%;}

/*�뙘�뾽*/
.web_pop_St .poppage .parea5 {position:relative; top:10%; max-width:640px; width:100%; margin:0 auto 10%;}
.web_pop_St .poppage .parea5 .p1{position:relative; width:100%;}
.web_pop_St .poppage .parea5 .p1 .close{position:absolute; top:0; right:0; width:17%;height:100%;}
.web_pop_St .poppage .parea5 .p2{position:relative; width:100%;}
.web_pop_St .poppage .parea5 .p2 .put1{position:absolute;top: 60%;left: 4.8%;width: 40.4%;height: 12%;font-size: 1.1em;line-height: 1.1em;background-color:#3667de;color: #fff;border:0;}
.web_pop_St .poppage .parea5 .p2 .put2{position:absolute;top: 60%;left: 54.8%;width: 40%;height: 12%;font-size: 1.1em;line-height: 1.1em;background-color:#3667de;color: #fff;border:0;}
.parea5 .p2 input.put1::-webkit-input-placeholder { color:#fff }
.parea5 .p2 input.put1::-moz-placeholder { color:#fff }
.parea5 .p2 input.put1::-webkit-input-placeholder { color:#fff }
.parea5 .p2 input.put1::-moz-placeholder { color:#fff }
.web_pop_St .poppage .parea5 .p2 .popselt{position:absolute;top: 78.5%;left: 54.8%;width: 39.9%;height: 14%;}
.web_pop_St .poppage .parea5 .p3{position:relative; width:100%;}
.web_pop_St .poppage .parea5 .p3 .checkbox{position:absolute;top: 4.4%;left: 1.1%;width: 43.8%;}

.web_pop_St .poppage .parea5 .p3 .p3b1{position:absolute;top: 8%;left: 0;width: 100%;height: 84%;}

/*�뙘�뾽*/
.web_pop_St .poppage .parea6 {position:relative; top:10%; max-width:640px; width:100%; margin:0 auto 10%;}
.web_pop_St .poppage .parea6 .p1{position:relative; width:100%;}
.web_pop_St .poppage .parea6 .p1 .close{position:absolute; top:0; right:0; width:17%;height:100%;}
.web_pop_St .poppage .parea6 .p2{position:relative; width:100%;}
.web_pop_St .poppage .parea6 .p2 .put1{position:absolute;top: 67%;left: 7%;width: 86%;height: 19%;font-size: 1.1em;line-height: 1.1em;text-indent: 6px; color:#fff; background-color:#00b601;border:0;}
.parea6 .p2 input.put1::-webkit-input-placeholder { color:#fff }
.parea6 .p2 input.put1::-moz-placeholder { color:#fff }

.web_pop_St .poppage .parea6 .p3{position:relative; width:100%;}
.web_pop_St .poppage .parea6 .p3 .checkbox{position:absolute;top: 4.4%;left: 1.1%;width: 43.8%;}
.web_pop_St .poppage .parea6 .p3 .p3b1{position:absolute;top: 8%;left: 0;width: 100%;height: 84%;}

/*�뙘�뾽*/
.web_pop_St .poppage .parea7 {position:relative; top:10%; max-width:640px; width:100%; margin:0 auto 10%;}
.web_pop_St .poppage .parea7 .p1{position:relative; width:100%;}
.web_pop_St .poppage .parea7 .p1 .close{position:absolute; top:0; right:0; width:17%;height:100%;}
.web_pop_St .poppage .parea7 .p2{position:relative; width:100%;}
.web_pop_St .poppage .parea7 .p2 .put1{position:absolute;top: 52.8%;left: 22%;width: 71.7%;height: 14.3%;color: #ffffff;text-indent: 6px;font-size: 1.1em;line-height: 1.1em;background-color:#f30050;border:0;}
.web_pop_St .poppage .parea7 .p2 .put2{position:absolute;top: 76.5%;left: 22%;width: 71.7%;height: 14.3%;color: #ffffff;font-size: 1.1em;line-height: 1.1em;text-indent: 6px;background-color:#f30050;border:0;}
.parea7 .p2 input.put1::-webkit-input-placeholder { color:#fff }
.parea7 .p2 input.put1::-moz-placeholder { color:#fff }
.parea7 .p2 input.put2::-webkit-input-placeholder { color:#fff }
.parea7 .p2 input.put2::-moz-placeholder { color:#fff }

.web_pop_St .poppage .parea7 .p3{position:relative; width:100%;}
.web_pop_St .poppage .parea7 .p3 .checkbox{position:absolute;top: 4.4%;left: 1.1%;width: 43.8%;}
.web_pop_St .poppage .parea7 .p3 .p3b1{position:absolute;top: 69%;left: 0;width: 100%;height: 29%;}

/*�뙘�뾽*/
.web_pop_St .poppage .parea8 {position:relative; top:10%; max-width:640px; width:100%; margin:0 auto 10%;}
.web_pop_St .poppage .parea8 .p1{position:relative; width:100%;}

.FF{position:relative; width:100%;}

.FF .popCorn{position:relative; width:100%;}
.FF .popCorn .p1{position:relative; width:100%;}
.FF .popCorn .p2{position:relative; width:100%;}
.FF .popCorn .p3{position:relative; width:100%;}
.FF .popCorn .p4{position:relative; width:100%;}
.FF .popCorn .p2 .inImg{position:absolute;top: 0.8%;left: 2.8%;width: 94.4%;height: 97.6%;}

.FF .popBg{position:absolute; top:0; left:0; width:100%; height:100%; background:url(../images/event/event2017/ryoyul/guideBg.png); }
.FF .popBg .notiHand{position:absolute;top:40%;left: 25%;width: 51.5%;}
.FF .popBg .notiBtn{position:absolute;bottom: 1%;left: 1.8%;width: 96.2%;}

.web_pop_St .poppage .parea8 .p1 .close{position:absolute; top:0; right:0; width:17%;height:100%;}
.web_pop_St .poppage .parea8 .p2{position:relative; width:100%;}
.parea8 .p3{position:relative;width:100%;}
.parea8 .p4{position:relative;width:100%;}
.parea8 .p4 .p8b1{position:absolute;top:0; left:0; width:100%; height:49%;}
.parea8 .p4 .p8b2{position:absolute;top:50%; left:0; width:100%; height:47%;}
.p8b3{position:absolute;top:0%; left:0; width:100%; height:30%;}
.p8b4{position:absolute;top: 31%;left:0;width:100%;height:30%;}
.p8b5{position:absolute;top: 69%;left:0;width:100%;height:30%;}

/*�뙘�뾽*/
.web_pop_St .poppage .parea9 {position:relative; top:10%; max-width:640px; width:90%; margin:0 auto 10%;}
.web_pop_St .poppage .parea9 .p1{position:relative; width:100%;}
.web_pop_St .poppage .parea9 .p1 .close{position:absolute; top:0; right:0; width:17%;height:100%;}
.web_pop_St .poppage .parea9 .p2{position:relative; width:100%;}
.web_pop_St .poppage .parea9 .p3{position:relative; width:100%;}
.web_pop_St .poppage .parea9 .p4{position:relative; width:100%;}
.web_pop_St .poppage .parea9 .p5{position:relative; width:100%;}
.web_pop_St .poppage .parea9 .p3 .inImg{position:absolute;top: 0.8%;left: 2.8%;width: 94.4%;height: 97.6%;}






.textArea{position:absolute;top: 19.1%;left: 4%;width: 91.2%;height: 45.3%;background:#e8e8e8;}
.textArea .textPad{position:absolute;top: 1%;left: 0.4%;width: 99.2%;height: 98%;padding: 2%;background:#ffffff;box-sizing:border-box;color: #bdbbae;}
.inTxt{position:absolute;bottom: 9%;left: 2.1%;width: 100%;font-size: 1em;font-weight:bold;
letter-spacing: -0.8px;line-height: 1.1em; color: #1d1d1b;
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;}
.inMsg{position:absolute;top: 5%;left: 7%;width: 86%;height: 90%;font-size:1.1em; line-height:1.4em; color:#000;}













.textArea{position:absolute;top: 19.1%;left: 4%;width: 91.2%;height: 45.3%;background:#e8e8e8;}
.textArea .textPad{position:absolute;top: 1%;left: 0.4%;width: 99.2%;height: 98%;padding: 2%;background:#ffffff;box-sizing:border-box;color: #bdbbae;}
.inTxt{position:absolute;bottom: 9%;left: 2.1%;width: 100%;font-size: 1em;font-weight:bold;
letter-spacing: -0.8px;line-height: 1.1em; color: #1d1d1b;
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;}
.inMsg{position:absolute;top: 5%;left: 7%;width: 86%;height: 90%;font-size:1.1em; line-height:1.4em; color:#000;}

.giftMsg{position:absolute;top: 25%;left: 4%;width: 81%;height: 34%;font-size: 4.2vw;line-height: 1.2em;color: #ffffff;letter-spacing: -2px;}
.couponUrl{position:absolute;top: 71%;left: 4%;width:100%;letter-spacing: -0.3px;}
.couponUrl a{color:#478cbf;font-size: 3.5vw;line-height: 1.1em;}













